/// Import the shared configuration
#include "../Base/BaseAppConfig.xcconfig"
#include "ThreemaWorkConfig.xcconfig"

PRODUCT_NAME = $(APP_NAME)
PRODUCT_BUNDLE_IDENTIFIER = $(APP_BUNDLE_IDENTIFIER)

/// URL Scheme
APP_URL_TYPE_IDENTIFIER = $(BUNDLE_BASE_IDENTIFIER).urlscheme

/// App Icons
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
ASSETCATALOG_COMPILER_INCLUDE_ALL_APPICON_ASSETS = NO
