<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>$(VERSION_NUMBER)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>NSPrincipalClass</key>
	<string></string>
	<key>ThreemaAPIURL</key>
	<string></string>
	<key>ThreemaAPIURLWork</key>
	<string></string>
	<key>ThreemaAPIURLv6</key>
	<string></string>
	<key>ThreemaAPIURLv6Work</key>
	<string></string>
	<key>ThreemaAvatarURL</key>
	<string>https://avatar.threema.ch/</string>
	<key>ThreemaBlobDoneURL</key>
	<string>https://blobp-%@.threema.ch/%@/done</string>
	<key>ThreemaBlobDoneURLv6</key>
	<string>https://ds-blobp-%@.threema.ch/%@/done</string>
	<key>ThreemaBlobURL</key>
	<string>https://blobp-%@.threema.ch/%@</string>
	<key>ThreemaBlobURLv6</key>
	<string>https://ds-blobp-%@.threema.ch/%@</string>
	<key>ThreemaBlobUploadURL</key>
	<string>https://blobp-upload.threema.ch/upload</string>
	<key>ThreemaBlobUploadURLv6</key>
	<string>https://ds-blobp-upload.threema.ch/upload</string>
	<key>ThreemaServerAltPublicKey</key>
	<data>WpjyPeZWBdBQ3ABkvgfd3YEdoRalQ85DqiaH0Z8grzw=</data>
	<key>ThreemaServerNamePrefix</key>
	<string>g-</string>
	<key>ThreemaServerNamePrefixv6</key>
	<string>ds.g-</string>
	<key>ThreemaServerNameSuffix</key>
	<string>.0.test.threema.ch</string>
	<key>ThreemaServerPorts</key>
	<array>
		<integer>5222</integer>
		<integer>443</integer>
	</array>
	<key>ThreemaServerPublicKey</key>
	<data>WpjyPeZWBdBQ3ABkvgfd3YEdoRalQ85DqiaH0Z8grzw=</data>
	<key>ThreemaSupportURL</key>
	<string>https://threema.ch/ios/support</string>
	<key>ThreemaWorkAPIURL</key>
	<string></string>
	<key>ThreemaWorkAPIURLv6</key>
	<string></string>
	<key>ThreemaWorkServerNamePrefix</key>
	<string>w-</string>
	<key>ThreemaWorkServerNamePrefixv6</key>
	<string>ds.w-</string>
</dict>
</plist>
