<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>$(VERSION_NUMBER)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>NSPrincipalClass</key>
	<string></string>
	<key>Red</key>
	<false/>
	<key>ThreemaAPIURL</key>
	<string>https://apip.threema.ch</string>
	<key>ThreemaAPIURLWork</key>
	<string>https://apip.threema.ch</string>
	<key>ThreemaAPIURLv6</key>
	<string>https://ds-apip.threema.ch</string>
	<key>ThreemaAPIURLv6Work</key>
	<string>https://ds-apip.threema.ch</string>
	<key>ThreemaAvatarURL</key>
	<string>https://avatar.threema.ch</string>
	<key>ThreemaBlobDoneURL</key>
	<string>https://blobp-{blobIdPrefix}.threema.ch/{blobId}/done</string>
	<key>ThreemaBlobDoneURLv6</key>
	<string>https://ds-blobp-{blobIdPrefix}.threema.ch/{blobId}/done</string>
	<key>ThreemaBlobURL</key>
	<string>https://blobp-{blobIdPrefix}.threema.ch/{blobId}</string>
	<key>ThreemaBlobURLv6</key>
	<string>https://ds-blobp-{blobIdPrefix}.threema.ch/{blobId}</string>
	<key>ThreemaBlobUploadURL</key>
	<string>https://blobp-upload.threema.ch/upload</string>
	<key>ThreemaBlobUploadURLv6</key>
	<string>https://ds-blobp-upload.threema.ch/upload</string>
	<key>ThreemaCoreDataVersion</key>
	<string>$(COREDATA_VERSION)</string>
	<key>ThreemaMediatorServerURL</key>
	<string></string>
	<key>ThreemaMediatorBlobDoneURL</key>
	<string></string>
	<key>ThreemaMediatorBlobUploadURL</key>
	<string></string>
	<key>ThreemaMediatorBlobURL</key>
	<string></string>
	<key>ThreemaOnPremPublicKeys</key>
	<array>
		<string>ek1qBp4DyRmLL9J5sCmsKSfwbsiGNB4veDAODjkwe/k=</string>
		<string>Hrk8aCjwKkXySubI7CZ3y9Sx+oToEHjNkGw98WSRneU=</string>
		<string>5pEn1T/5bhecNWrp9NgUQweRfgVtu/I8gRb3VxGP7k4=</string>
	</array>
	<key>ThreemaSafeURL</key>
	<string>https://safe-{backupIdPrefix}.threema.ch</string>
	<key>ThreemaServerAltPublicKey</key>
	<data>2nxzeY+X1YfDol6+CpFBf3bbzM3aKTDmqQkK9i66bxU=</data>
	<key>ThreemaServerNamePrefix</key>
	<string>g-</string>
	<key>ThreemaServerNamePrefixv6</key>
	<string>ds.g-</string>
	<key>ThreemaServerNameSuffix</key>
	<string>.0.threema.ch</string>
	<key>ThreemaServerPorts</key>
	<array>
		<integer>5222</integer>
		<integer>443</integer>
	</array>
	<key>ThreemaServerPublicKey</key>
	<data>RQuXVzUnn97LMxNkj1/G7p/0Ng6pKowXUcZh5MDYyQk=</data>
	<key>ThreemaSupportURL</key>
	<string>https://threema.ch/ios/support</string>
	<key>ThreemaWorkAPIURL</key>
	<string>https://apip-work.threema.ch</string>
	<key>ThreemaWorkAPIURLv6</key>
	<string>https://ds-apip-work.threema.ch</string>
	<key>ThreemaWorkServerNamePrefix</key>
	<string>w-</string>
	<key>ThreemaWorkServerNamePrefixv6</key>
	<string>ds.w-</string>
	<key>WebSocketConnection</key>
	<false/>
	<key>ThreemaWebURL</key>
	<string>https://web.threema.ch/</string>
	<key>ThreemaPOINamesURL</key>
	<string>https://poi.threema.ch/names/</string>
	<key>ThreemaPOIAroundURL</key>
	<string>https://poi.threema.ch/around/</string>
	<key>ThreemaBackupInfo</key>
	<string>https://threema.ch/faq/backup-options</string>
</dict>
</plist>
