//  _____ _
// |_   _| |_  _ _ ___ ___ _ __  __ _
//   | | | ' \| '_/ -_) -_) '  \/ _` |_
//   |_| |_||_|_| \___\___|_|_|_\__,_(_)
//
// Threema iOS Client
// Copyright (c) 2025 Threema GmbH
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License, version 3,
// as published by the Free Software Foundation.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>.

/// Name of the app
APP_NAME = Threema Blue
/// Name of the app to be used in conjunction with features such as Calls, Safe or ID.
/// Appropriately inserted into localized strings for example LOCALIZED_APP_NAME Calls for English or LOCALIZED_APP_NAME-Anrufe for German
LOCALIZED_APP_NAME = Threema

/// Target Manager Key
TARGET_MANAGER_KEY = ThreemaBlue

/// Bundle Identifiers
BUNDLE_BASE_IDENTIFIER = ch.threema.work.red
APP_BUNDLE_IDENTIFIER = $(BUNDLE_BASE_IDENTIFIER).iapp

/// App Group of the bundle
GROUP_IDENTIFIER = group.$(BUNDLE_BASE_IDENTIFIER)

/// Suffix for version
THREEMA_VERSION_SUFFIX = k

/// Define a custom URL scheme for your app
APP_URL_SCHEME = threemablue

/// Declare the use of encryption to streamline the app submission process

/// URL to sentry

// Accent Color
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME = AccentColorWork
