<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Threema</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>$(VERSION_NUMBER)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(BUILD_NUMBER)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>IntentsSupported</key>
			<array>
				<string>INSendMessageIntent</string>
			</array>
			<key>NSExtensionActivationRule</key>
			<string>
(
SUBQUERY (
    extensionItems,
    $extensionItem,
    SUBQUERY (
        $extensionItem.attachments,
        $attachment,
        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO &quot;public.item&quot; || 
        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO &quot;public.data&quot; || 
        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO &quot;public.content&quot; || 
        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO &quot;public.archive&quot; || 
        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO &quot;public.contact&quot; || 
        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO &quot;public.message&quot;
    ).@count &lt;= 20
).@count == 1
||
SUBQUERY(
    extensionItems, 
    $extensionItem, 
        (
            SUBQUERY(
                $extensionItem.attachments, 
                $attachment, 
                ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO &quot;public.url&quot;
            ).@count &gt;= 1
        AND
            $extensionItem.attachments.@count &lt;= 20
        )
    AND
        extensionItems.@count &lt;= 20
).@count &gt;= 1
)
</string>
		</dict>
		<key>NSExtensionMainStoryboard</key>
		<string>ThreemaShareStoryboard</string>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.share-services</string>
	</dict>
	<key>ThreemaAppGroupIdentifier</key>
	<string>group.ch.threema</string>
	<key>ThreemaVersionSuffix</key>
	<string></string>
</dict>
</plist>
