<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ThreemaAPIURL</key>
	<string></string>
	<key>ThreemaAPIURLWork</key>
	<string></string>
	<key>ThreemaAPIURLv6</key>
	<string></string>
	<key>ThreemaAPIURLv6Work</key>
	<string></string>
	<key>ThreemaAvatarURL</key>
	<string></string>
	<key>ThreemaBlobDoneURL</key>
	<string></string>
	<key>ThreemaBlobDoneURLv6</key>
	<string></string>
	<key>ThreemaBlobURL</key>
	<string></string>
	<key>ThreemaBlobURLv6</key>
	<string></string>
	<key>ThreemaBlobUploadURL</key>
	<string></string>
	<key>ThreemaBlobUploadURLv6</key>
	<string></string>
	<key>ThreemaCoreDataVersion</key>
	<string>$(COREDATA_VERSION)</string>
	<key>ThreemaRendezvousServerURL</key>
	<string></string>
	<key>ThreemaMediatorBlobDoneURL</key>
	<string></string>
	<key>ThreemaMediatorBlobURL</key>
	<string></string>
	<key>ThreemaMediatorBlobUploadURL</key>
	<string></string>
	<key>ThreemaMediatorServerURL</key>
	<string></string>
	<key>ThreemaPOIAroundURL</key>
	<string></string>
	<key>ThreemaPOINamesURL</key>
	<string></string>
	<key>ThreemaSafeURL</key>
	<string>https://safe-{backupIdPrefix8}.threema.ch</string>
	<key>ThreemaServerAltPublicKey</key>
	<data>WpjyPeZWBdBQ3ABkvgfd3YEdoRalQ85DqiaH0Z8grzw=</data>
	<key>ThreemaServerNamePrefix</key>
	<string>g-</string>
	<key>ThreemaServerNamePrefixv6</key>
	<string>ds.g-</string>
	<key>ThreemaServerNameSuffix</key>
	<string></string>
	<key>ThreemaServerPorts</key>
	<array>
		<integer>5222</integer>
		<integer>443</integer>
	</array>
	<key>ThreemaServerPublicKey</key>
	<data>WpjyPeZWBdBQ3ABkvgfd3YEdoRalQ85DqiaH0Z8grzw=</data>
	<key>ThreemaWebURL</key>
	<string>https://web.threema.ch/</string>
	<key>ThreemaWorkAPIURL</key>
	<string></string>
	<key>ThreemaWorkAPIURLv6</key>
	<string></string>
	<key>ThreemaWorkServerNamePrefix</key>
	<string>w-</string>
	<key>ThreemaWorkServerNamePrefixv6</key>
	<string>ds.w-</string>
</dict>
</plist>
