//  _____ _
// |_   _| |_  _ _ ___ ___ _ __  __ _
//   | | | ' \| '_/ -_) -_) '  \/ _` |_
//   |_| |_||_|_| \___\___|_|_|_\__,_(_)
//
// Threema iOS Client
// Copyright (c) 2024-2025 Threema GmbH
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License, version 3,
// as published by the Free Software Foundation.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>.

/// Import the shared configuration
#include "../Base/BaseAppConfig.xcconfig"
#include "ThreemaConfig.xcconfig"

PRODUCT_NAME = $(APP_NAME)
PRODUCT_BUNDLE_IDENTIFIER = $(APP_BUNDLE_IDENTIFIER)

/// URL Scheme
APP_URL_TYPE_IDENTIFIER = $(BUNDLE_BASE_IDENTIFIER).urlscheme

/// App Icons
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
ASSETCATALOG_COMPILER_INCLUDE_ALL_APPICON_ASSETS = NO
ASSETCATALOG_COMPILER_ALTERNATE_APPICON_NAMES = Icon10Years Icon2013_1 Icon2013_2 Icon2019

/// Launch Story Board Name
INFOPLIST_KEY_UILaunchStoryboardName = ThreemaLaunchScreen
