<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>image</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.image</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>wildcard</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(VERSION_NUMBER)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>ch.threema.red.urlscheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>threemared</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>ITSEncryptionExportComplianceCode</key>
	<string>fb225681-2943-4538-98e8-732e6ac4cd2e</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>comgooglemaps</string>
		<string>threemawork</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<false/>
	<key>NSCameraUsageDescription</key>
	<string>Your camera is used when you take a photo or video and send it in a chat, and to scan QR codes.</string>
	<key>NSContactsUsageDescription</key>
	<string>Contacts are used to find other Threema users when synchronization is on. Hashes of the phone numbers and email addresses will be uploaded to a Threema server for this purpose. This information is not stored on the servers.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>You can use Face ID to unlock Threema without entering your code.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your location is used when you send it in a chat, and to display your own location on a map.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>The microphone is used to record audio messages.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Threema can automatically save incoming media to the photo library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Your photo library is used when you pick an image from it and send it in a chat.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>INStartAudioCallIntent</string>
		<string>INSendMessageIntent</string>
	</array>
	<key>SentryClientDsn</key>
	<string>https://8d95950d8b9c472fbd68a79bea8fa26b@bugs.threema.ch/11</string>
	<key>ThreemaAppGroupIdentifier</key>
	<string>group.ch.threema.red</string>
	<key>ThreemaAppIdentifier</key>
	<string>ch.threema.red.iapp</string>
	<key>ThreemaForwardSecurity</key>
	<true/>
	<key>ThreemaMaxGroupMembers</key>
	<integer>256</integer>
	<key>ThreemaVersionSuffix</key>
	<string></string>
	<key>ThreemaWorkVersion</key>
	<false/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>ThreemaLaunchScreen</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>ch.threema.messageRetention</string>
	</array>
</dict>
</plist>
